<?xml version="1.0" encoding="utf-8" ?>

<!--
Sample license text.
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MARC.HI.EHRS.SVC.Terminology.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <MARC.HI.EHRS.SVC.Terminology.Properties.Settings>
            <setting name="MARC_HI_EHRS_SVC_Terminology_MessageRuntime_MessageRuntime"
                serializeAs="String">
                <value>http://hdd.marc-hi.ca/ctsservice/messageruntime.asmx</value>
            </setting>
        </MARC.HI.EHRS.SVC.Terminology.Properties.Settings>
    </applicationSettings>
</configuration>